
nextflow.enable.moduleBinaries = true
plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true


params {
	samplesheet = 'data/sample_sheet.csv'
}

process {
    withName: 'BOWTIE2_ALIGN' {
    		ext.args = '--trim-to 3:50' // Trim read at 50bp when running bowtie2 alignment
    }
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
    hpc {
        singularity {
            enabled = true
            runOptions = "-B/scratch"
            autoMounts = true
        }
    
        process {
            executor = "slurm"
            queue = 'shared-cpu'
            time = '4h'
        }
    }
}


// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]



manifest {
    name            = 'BioinfoSupport/nf-kpnrna'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: '',
            email: '',
            github: '',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/BioinfoSupport/nf-kpnrna'
    description     = 'Kpn RNA-seq pipeline'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.10.4'
    version         = 'v0.1'
    doi             = ''
}

